<button (click)="prev()" >prev</button>
<button (click)="next()" >next</button>


<div class="row" >

   
  <div class="col-xs-12 col-sm-4 col-md-3 mt-5" *ngFor="let per of lista"> <div class="card" style="width: 18rem;">
  
      <div class="card-body">
        <h5 class="card-title">ID: {{per.id}} Nombre: {{per.name}} </h5>
      <p class="card-text">dimension: {{per.dimension}} <br> tipo: {{per.type}} <br> Fecha creado: {{per.created  | date:'short'}}</p>
        <button [routerLink]= "['/location/detalle/',per.id]" class="btn btn-secondary">detalle</button>
      </div>
    </div> </div>
  
  </div>
  


