<div class="row" >

<div class="col-sm-12 text-center" style="margin: 2% auto;">

    <div class="card" style="width: 25rem;">
        <ul class="list-group list-group-flush">
            <li><img src="{{personaje.image}}" alt=""></li>
          <li class="list-group-item">{{personaje.name}}</li>
          <li class="list-group-item">{{personaje.created  | date:'short'}}</li>
          <li class="list-group-item">{{personaje.gender}}</li>
          <li class="list-group-item">{{personaje.species}}</li>
          <li class="list-group-item">{{personaje.status}}</li>
          
        </ul>
      </div>

      
</div>

<table style="background-color: bisque; font-weight: bolder; width: 25%; margin: 0% auto; border-radius: 10px; " >
  <tr *ngFor="let ep of personaje?.episode" >
    <td>
    episodio:  <br> {{ep}}

    <button class="btn btn-secondary" [routerLink]="['/episodes/linkdetalle/',getEpisodios(ep)]">Ir a detalle del episodio</button>
     
    </td>

  </tr>
</table>

</div>






