<div class="row" >

<div class="col-sm-12 text-center" style="margin: 2% auto;">

    <div class="card" style="width: 25rem;">
        <ul class="list-group list-group-flush">
            <li><img src="{{personaje.image}}" alt=""></li>
          <li class="list-group-item">{{personaje.name}}</li>
          <li class="list-group-item">{{personaje.created  | date:'short'}}</li>
          <li class="list-group-item">{{personaje.gender}}</li>
          <li class="list-group-item">{{personaje.species}}</li>
          <li class="list-group-item">{{personaje.status}}</li>
          <li><table>
            <td *ngFor="let ep of episodios">
              <tr>
                id : {{id}}
               
              </tr>
          
            </td>
          </table></li>
        </ul>
      </div>
</div>

</div>






